body {
  margin: 0;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div label {
  padding-right: 1rem;
}

header .nav-link {
  color: white;
}

.nav-link {
  color: black;
}

.search-button {
  position: relative;
  margin-left: -25px;
}

.dropdown {
  min-width: 120px;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

.page-item.active>.page-link {
  background: #6d6d6d;
  border: 1px solid black !important;
}

.pagination {
  color: black !important;
}

/* .pagination,
.pagination:active, */
.pagination *:focus {
  box-shadow: none !important;
}

.modal img {
  object-fit: scale-down !important;
  height: auto !important;
  margin-top: 1rem;
}

.badge-container {
  position: absolute;
  max-width: 50%;
  /* top: 10; */
  z-index: 100;
  width: fit-content;
}

.badge-container>span {
  margin: 5px;
}

.product-card:hover {
  outline: 1px solid rgb(180, 180, 180);
}


@media screen and (orientation: portrait) {
  .col-md-4 img {
    max-height: 320px;
    object-fit: none !important;
    box-shadow: none !important;
  }

  nav a {
    text-align: center;
  }

  .modal .col-md-4 img {
    max-height: 240px;
    object-fit: contain !important;
  }

  .full-product-card.product-card img.card-img-top.img-fluid {
    margin: 0 auto !important;
  }

  .full-product-card {
    flex-direction: column !important;
  }

  .full-product-card .card-text,
  .full-product-card .card-title {
    text-align: center !important;
  }

  .full-product-card .product-description {
    text-align: justify !important;
  }

  .full-product-card{
    font-size: 1.25rem !important;
  }

  .full-product-card img{
    height: auto !important;
  }

}

@media (max-width: 560px) {
  .product-card {
    max-width: 100% !important;
    flex-direction: row;
  }

  .product-card img {
    max-width: 50% !important;
    object-fit: scale-down;
    margin-right: 1rem;
  }

  div:has(.card) {
    gap: 1rem !important;
  }

  .row>.col-md-4,
  .row>div.col-md-8 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .badge-container {
    max-width: 20%;
  }

  .card-body div:last-child {
    padding: 0 !important;
    margin: 0 !important;
  }

  .card-body div:last-child p {
    line-height: normal !important;
  }
}