body {
  margin: 0;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div label {
  padding-right: 1rem;
}

header .nav-link {
  color: white;
}

.nav-link {
  color: black;
}

.modal img {
  object-fit: scale-down !important;
  height: auto !important;
  margin-top: 1rem;
}

/* .carousel-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel-item {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100%/4);
} */

.badge-container {
  position: absolute;
  max-width: 50%;
  top: 10;
  width: fit-content;
}

.badge-container>span {
  margin: 5px;
}

.product-card:hover {
  outline: 1px solid rgb(180, 180, 180);
}

/* input[type="range"]{
  accent-color: red !important;
} */

@media screen and (orientation: portrait) {
  .col-md-4 img {
    max-height: 320px;
    object-fit: none !important;
    box-shadow: none !important;
  }

  nav a {
    text-align: center;
  }

  .modal .col-md-4 img {
    max-height: 240px;
    object-fit: contain !important;
  }
}

@media (max-width: 560px) {
  .product-card {
    max-width: 100% !important;
    flex-direction: row;
  }

  .product-card img {
    max-width: 50% !important;
    object-fit: scale-down;
    margin-right: 1rem;
  }

  /* .gap-5 {
    gap: 1rem !important;
  } */

  div:has(.card){
    gap: 1rem !important;
  }

  .filters{
    flex-direction: column !important;
  }

  .row>.col-md-4,
  .row>div.col-md-8 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .badge-container {
    max-width: 20%;
  }

  /* div:has(.lh-1) {
    align-items: flex-end !important; 
    align-items: flex-end !important;

  } */
  .card-body div:last-child {
    padding: 0 !important;
    margin: 0 !important;
  }
  .card-body div:last-child p{
    line-height: normal !important;
  }
}